# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "f232a78339525e79f08b9bcec3b61b8f"
name = "Gachi Rewards"
application_url = "https://gachi-rewards-ryans-projects-59100e10.vercel.app"  # Use working URL
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "orders/create" ]
  uri = "/webhooks/orders/create"

  [[webhooks.subscriptions]]
  topics = [ "customers/data_request", "customers/redact", "shop/redact" ]
  uri = "/webhooks/compliance"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_discounts,read_orders,write_app_proxy,write_customers,write_discounts,write_products"

[auth]
redirect_urls = [ "https://gachi-rewards-ryans-projects-59100e10.vercel.app/auth" ]  # Working URL + /auth

[app_proxy]
url = "https://gachi-rewards-ryans-projects-59100e10.vercel.app/apps/gachi-rewards"  # Working URL + /apps/gachi-rewards
subpath = "gachi-rewards"
prefix = "apps"
